@model ResetPasswordViewModel
@{
     Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "ResetPassword";
}

<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">بازنشانی رمز عبور</h3></div>
    <div class="card-body">
        <form asp-action="ResetPassword" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
            <label asp-for="NewPassword" class="control-lable"></label>
            <div class="col-md-12">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <label asp-for="ConfirmNewPassword" class="control-lable"></label>
            <div class="col-md-12">
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success btn-block">ارسال</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/showPassword.js"></script>

}
