@model IEnumerable<DataLayer.ShowGroupsViewModel>


<ul class="list-group shadow-sm">
    <li class="list-group-item d-flex justify-content-between align-items-center active">
        <p class="card-subtitle">گروه های خبری</p>
    </li>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <li class="list-group-item page-link d-flex justify-content-between align-items-center">
                <h6 class="card-subtitle">@item.GroupName</h6>
                <a class="stretched-link" href="/Group/@item.GroupID/@item.GroupName"></a>
                <span class="badge alert-primary badge-pill">@item.PageCount</span>
            </li>
        }
    }
</ul>
<br />